#adminHeading{
    text-align: center;
    margin: 3rem 0;
}

#adminAddBtn{
    margin: 0 2rem;
    padding: 0.7rem 2rem;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: green;
    color: white;
    cursor: pointer;
}

.adminData_Container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 1.5rem 2rem;
}

.adminData_Box{
    width: 360px;
    height: 200px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1rem 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.adminInfoBox{
    position: absolute;
    top: 37%;
    left: 20%;

    width: 60vw;
    margin: auto;
    height: auto;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #b8d2fa;
    gap: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    & h1{
        font-size: xx-large;
        font-weight: 700;
        
    }

    & input{
        width: 100%;
        padding: 0.6rem 2rem;
        border: 2px solid black;
        border-radius: 6px;
    }

    & button{
        margin: 0 2rem;
        padding: 0.7rem 2rem;
        outline: none;
        border: none;
        border-radius: 8px;
        background-color: green;
        color: white;
        cursor: pointer;
    }
}