@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ff7300;
}

.active{
  color: white;
  cursor: pointer;
}

.nv{
  /* color: black;s */
  font-size: larger;
  margin: 0.8vh 13vw;
  font-weight: 700;
  list-style: none;
  font-style: normal;
  text-decoration: none;
} 

.home{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #5b7267;
}