.popular{
    width: 100%;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    gap: 10px;
}


.popular-heading{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: yellow; */
}


.popular-heading h1{
    color: #171717;
    font-size: 3rem;
    font-weight: 600;
}


.popular-dash{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;

}


.popular-dash hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}


.popular-items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: greenyellow; */
}


.popular-item{
    margin: 5vh 0;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    flex-wrap: wrap; 
    height: auto;
    gap: 5rem 2rem;
    justify-content: center;
}


/** ========================================  Start for the Responsive Code  ========================================= */

@media screen and (max-width: 550px) {
    .popular-heading h1 {
        font-size: 2rem;
    }
    .popular-dash{
        display: none;

        & hr{
            display: none;
        }
    }
}


@media screen and (max-width: 1000px) {
    .popular-heading {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .popular-heading {
        width: 100%;
        height: auto;
    }
}




/** =========================================  End for the Responsive Code  ========================================== */